<section class="pagination">
  <a href="/?page=<%= page - 1 %>" class="<%= page === 1 ? "disabled" : ""%>">Previous</a>
  <a href="/?page=<%= page + 1 %>" class="<%= page === pageCount ? "disabled" : ""%>">Next</a>
</section>
